<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tab.viewpager">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".activity.ArticleActive" />
        <activity android:name=".jwc.LoginActivity" />
        <activity android:name=".jwc.MeFragment" />
        <activity android:name=".jwc.ScoreFragment" />
        <activity android:name=".jwc.CourseFragment" />
        <activity android:name=".jwc.ChangePasswordActivity" />
        <activity android:name=".activity.TimeTableActive" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".jwc.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WebViewActivity"></activity>
    </application>

</manifest>